.about_container{
    height: 100vh;
    background-image: url(../../public/images/section6.png); 
    background-size: cover;
    background-color: #132C6B;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
