.about_container{
    height: 100vh;
    background-image: url(../../public/images/section2.png); 
    background-size: cover;
    background-color: #132C6B;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.about_text{
    color: #F2055C;
    font-size: 45px;
}
.about_box{
    background-color: #132C6B;
    width: 700px;
    height: 700px;
    box-shadow: 0 0 10px black;
}
