.contact_container{
    height: 120vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(../../public/images/bg4.png); 
    background-size: cover;
    padding-top: 100px;
}
.contact_box{
    position: relative;
    width: 500px;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from var(--a), #F2055C 0%, #F2055C 5%, transparent 5%, transparent 35%, #F2055C 50%);
    animation: animatecontact 4s linear infinite;
    border-radius: 20px;
}
.contact_box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), rgb(110, 204, 255) 0%, rgb(110, 204, 255) 5%, transparent 5%, transparent 35%, rgb(110, 204, 255) 50%);
    animation: animatecontact 4s linear infinite;
    border-radius: 20px;
    animation-delay: -1s;
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg
}
@keyframes animatecontact{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.contact_box::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #132c6bf9;
    border-radius: 15px;
    border: 4px solid rgb(255, 0, 128);
}

.contact_box form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0  40px;
    z-index: 1000;

}
.contact_box form h2{
    color: #ffffff;
    font-weight: 600;
    font-size: 39px;
    letter-spacing: 5px;
    font-family: 'Nasalization', Arial, sans-serif;
}
.contact_box form input{
    position: relative;
    width: 85%;
    background: rgba(255, 255, 255, 0.749);
    padding: 15px 120px 17px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-family: 'Nizzoli', Arial, sans-serif;
}
.contact_box form input{
    width: auto;
}
.contact_box form select{
    position: relative;
    width: 85%;
    background: rgba(255, 255, 255, 0.749);
    padding: 15px 110px 17px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-family: 'Nizzoli', Arial, sans-serif;
}
.contact_box form select {
    width: auto;
}
.contact_box form textarea{
    position: relative;
    width: auto;
    background: rgba(255, 255, 255, 0.749);
    padding: 15px 120px 17px 20px;
    height: 160px;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-family: 'Nizzoli', Arial, sans-serif;
}
.contact_box form input::placeholder{
    color: rgba(78, 77, 77, 0.529);
}
.contact_box form input[type='submit']{
    font-weight: 600;
    background: #F2055C;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
    border: none;
    font-weight: 100;
    font-family: 'Nizzoli', Arial, sans-serif;
    border-radius: 7px;
    padding: 15px 20px 15px 20px;
}
.contact_box form input[type='submit']:hover{
    background: rgb(67, 0, 30);
}
.footer_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer_p{
    color: white;
    font-family: 'Nizzoli', Arial, sans-serif;
}
.footer_btn{
    margin-top: 50px;
}
.footer_btn input{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 7px;
    margin: 10px;
    border: solid 1px transparent;
    transition: 0.4s;
    cursor: pointer;
    font-family: 'Nizzoli', Arial, sans-serif;
}
.footer_btn input:hover{
    color: white;
    background: #F2055C;
}
.icons_box{
    margin: 20px;
}
.fonticonf{
    font-size: 2em;
    color: white;
}
.fonticoni{
    font-size: 2.1em;
    color: white;
    margin-left: 13px;
}
@media (max-width: 600px) {
    .contact_container{
        background-image: url(../../public/images/bgmobile2.png); 
    }
    .contact_box{
        width: 400px;
    }
    .contact_box form h2{
        font-size: 24px;
    }
    .footer_btn input{
        width: 160px;
        font-size: 13px;
        height: 40px;
    }
    .fonticonf{
        font-size: 1.5em;
    }
    .fonticoni{
        font-size: 1.5em;
    }
}
@media (max-width: 500px) {
    .contact_box{
        width: 330px;
    }
    .footer_btn input{
        width: 140px;
        font-size: 10px;
        height: 30px;
    }
    .contact_box form input[type='submit']{
        max-width: 100%;
    }
    .footer_p{
        font-size: 11px;
    }
    .fonticonf{
        font-size: 1.5em;
    }
    .fonticoni{
        font-size: 1.5em;
    }
    .contact_box form input{
        max-width: 30%;
        font-size: 14px;
    }
    .contact_box form select{
        width: 75%;
        font-size: 14px;
    }
    .contact_box form textarea{
        width: 30%;
        font-size: 14px;
    }
}
@media (max-width: 390px) {
    .contact_box{
        width: 280px;
        height: 700px;
    }
    .contact_box form input{
        max-width: 20%;
        font-size: 13px;
    }
    .contact_box form select{
        width: 65%;
        font-size: 13px;
    }
    .contact_box form textarea{
        width: 20%;
        font-size: 11px;
    }
    .footer_container{
        width: 0;
    }
    .icons_box{
        display: flex;
    }
    .footer_p{
        font-size: 7px;
    }
    .contact_box form{
        padding: 0 0;
    }
}