.home-bg{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg_text_btn{
    background-color: #132c6b80;
    backdrop-filter: blur(10px);
    padding: 80px;
    border: solid 1px white;
    z-index: 0;
}
.container_tittles{
    line-height: 10px;
}
.subtittle_home{
    color: white;
    font-weight: 100;
    font-size: 2.5em;
    letter-spacing: 13px;
    font-family: 'Nasalization';
}
.home_tittle{
    font-size: 6em;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Nasalization';
}
.home_text_container h2{
    font-size: 60px;
    letter-spacing: 11px;
    font-weight: 100;
    color: white;
    margin: auto;
} 
.dimenseon_text{
    position: relative;
    font-size: 6vw;
    color: #fff1f600;
    -webkit-text-stroke: 0.1vw #F2055C;
    text-transform: uppercase;
    margin: 0;
    font-weight: 100;
}
.dimenseon_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 10;
    width: 0;
    height: 100%;
    color: #F2055C;
    -webkit-text-stroke: 0vw #F2055C;
    border-right: 2px solid #F2055C;
    overflow: hidden;
    animation: dimenseon 5s linear infinite;
}
@keyframes dimenseon{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home_btn_container{
    display: flex;
    gap: 70px;
    justify-content: center;
}
.home_btn{
    font-family: 'Nizzoli', Arial, sans-serif;
    background: #8f7be92f;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    border-radius: 7px;
    color: #f4f2f3 ;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0, 0, 0, 0.133));
}
.home_btn:hover{
    background: #F2055C ;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #F2055C,
    0 0 20px #F2055C;
}
.home_btn span{
    position: absolute;
    display: block;
}
.home_btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, deeppink);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0% {
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.home_btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, deeppink);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0% {
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.home_btn span:nth-child(3){
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, deeppink);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3{
    0% {
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.home_btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, deeppink);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0% {
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
@media (max-width: 900px) {
    .bg_text_btn{
        padding: 45px;
    }
    .subtittle_home{
        font-size: 1.5em;
    }
    .home_tittle{
        font-size: 4.7em;
        font-weight: 100;
    }
    .home_btn{
        font-size: 13px;
        padding: 20px 20px;
    }
}
@media (max-width: 700px) {
    .subtittle_home{
        font-size: 1.1em;
    }
    .home_tittle{
        font-size: 4.2em;
    }
    .home_btn{
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    .subtittle_home{
        font-size: 0.9em;
    }
    .home_tittle{
        font-size: 3.2em;
        margin-bottom: 80px;
    }
    .home_btn{
        font-size: 13px;
        margin: 0px 0;
        width: 200px;
    }
    .home_btn_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 480px) {
    .home_tittle{
        font-size: 2.4em;
        margin-bottom: 60px;
    }
    .subtittle_home{
        letter-spacing: 8px;
    }
    .home_btn{
        font-size: 11px;
        width: 180px;
    }
}
@media (max-width: 400px) {
    .home_tittle{
        font-size: 1.8em;
    }
    .subtittle_home{
        letter-spacing: 4px;
    }
    .home_btn{
        font-size: 8px;
        width: 150px;
    }
}
@media (max-width: 340px) {
    .bg_text_btn{
        padding: 15px;
    }
}