.logo_li_container{
    display: flex;
    justify-content: space-evenly;    
    backdrop-filter: blur(10px);
    /* background-color: #132c6b80;  ANTERIOR*/
    background: #1e1e1eb8; /* #1E1E1E con transparencia */ 
    padding: 10px;
    font-family: 'Nasalization';  
    position: fixed;
    z-index: 2000;
    width: 100%;
}
.logo_magna{
    width: 270px;
    height: 80px;
}
.ul_box{
    display: flex;
    margin: 10;   
}
.ul_box li{
    color: white;
    list-style: none;
    display: inline-block;
    margin: 10px 0;
    z-index: 2;
    font-weight: 100;
}
.menu_btn{
    position: relative;
}
.ul_box li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    padding: 10px 22px;

    cursor: pointer;
}
.ul_box li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgb(242, 5, 92);
    z-index: -1;
    border-radius: 7px;
    transition: 0.4s;
}
.ul_box li a:hover::before{
    width: 100%;
}

/* burger button */
.burger-btn{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    display: none;
  }
  .burger-btn > * {
    margin-bottom: 0.65rem;
}
.burger-btn.active div {
    background-color: rgba(252, 251, 251, 0.996); /* Color de fondo de los elementos div */
}
.burger-btn div{
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.burger-btn:hover div:first-child{
    transform: rotate(45deg);
}
.burger-btn:hover div:nth-child(2){
    opacity: 0;
}
.burger-btn:hover div:last-child{
    transform: rotate(-45deg);
}

.language-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 8%;
    top: 16%;  
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .languageEn{
    padding: 6px;
    color: white;
    font-weight: 100;
    font-family: 'Geologica', sans-serif;
    cursor: pointer;  
  }
  .languageEs{
    padding: 6px;
    color: white;
    font-family: 'Geologica', sans-serif;
    font-weight: 100;
    cursor: pointer;
  }
  .languageEn:hover{
    background: rgb(242, 5, 92);
    transition: 0.5s;
    border-radius: 50%;
  }
  .languageEs:hover{
    background: rgb(242, 5, 92);
    transition: 0.5s;
    border-radius: 50%;
  }
  .languageEn.active {
    color: rgb(248, 174, 201);
  }
  .languageEs.active {
    color: rgb(244, 174, 199);
  }
  @media (max-width: 1400px) {  
    .language-container{
    right: 3%;
  }
}

@media (max-width: 1100px) {
    .logo_magna{
        width: 220px;
        height: 70px;
    }
    .ul_box li a{
        font-size: 13px;
    }
}
@media (max-width: 1000px) {
    .burger-btn{
        display: flex;
        position: absolute;
        top: 30px;
        right: 10px;
        border: 0;
        background: transparent;
        z-index: 10;
      }  
    .box-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background-color: rgba(3, 1, 38, 0.671);
        backdrop-filter: blur(2px);
        justify-content: center;
        transform: translateY(-100%);
        z-index: 9; 
        height: 400px;
        transition: 0.5s;
    }
    .box-links.active  {
        transform: translateX(0);
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    .ul_box {
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin-left: 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
    }
    .ul_box li a{
        font-size: 17px;
    }
    .ul_box li::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        transform: scaleX(0); 
        transform-origin: right; 
        transition: transform 0.2s ease-in-out;
      }
    .ul_box li:hover::before {
        transform: scaleX(1); 
        transform-origin: left; 
    }
    .language-container{
        right: 43%;
        top: 80%;
      }
}
@media (max-width: 500px) {
    .ul_box li a{
        font-size: 13px;
    }
    .logo_magna{
        width: 180px;
        height: 60px;
    }
    .burger-btn{
        top: 20px;
    }
    .box-links{
        height: 330px;
    }
    .language-container{
        right: 38%;
        font-size: 13px;
      }
}
@media (max-width: 370px) {
    .language-container{
        right: 35%;
      }
}


.contact_btn{
    font-family: 'Nizzoli', Arial, sans-serif;
    position: relative;
    display: inline-block;
    border-radius: 7px;
    color: #f4f2f3 ;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}

.contact_btn span{
    position: absolute;
    display: block;
}
.contact_btn span:nth-child(1){
    top: 0;
    left: -70%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, deeppink);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0% {
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.contact_btn span:nth-child(2){
    top: -90%;
    right: 0;
    width: 2px;
    height: 90%;
    background: linear-gradient(180deg, transparent, deeppink);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0% {
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.contact_btn span:nth-child(3){
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, deeppink);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3{
    0% {
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.contact_btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, deeppink);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0% {
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}