.toTop{
    position: fixed;
    bottom: 10%;
    right: 0%;
    z-index: 9999;
  }
.rocket-box{
  height: 600px;
}
.rocket-container{ 
  position: absolute;
  bottom: 1%;
  right: 0%;
  cursor: pointer;
  transition: all 2.5s;
}
.rockett img{
  z-index: 10000;
  width: 170px;
}
.rockett::before{
  content: '';
  position: absolute;
  top: 83%;
  left: 64%;
  transform: translateX(-50%);
  height: 0px;
  width: 10px;
  background: linear-gradient(#F2055C,#F2055C, transparent);
  transition: all 2.5s;
}
.rockett::after{
  content: '';
  position: absolute;
  top: 82%;
  left: 64%;
  transform: translateX(-50%);
  height: 0px;
  width: 25px;
  background: linear-gradient(#a90210,#F2055C, transparent);
  filter: blur(15px);
  transition: all 2.5s;
}
.rocket-container.active{
  bottom: 30%;
}
.rocket-container.active .rockett{
  animation: movement 0.2s 2s ease infinite;
}
.rocket-container.active .rockett::before{
  height: 220px;
}
.rocket-container.active .rockett::after{
    height: 300px;
}
@keyframes movement{
  0%, 100%{
      transform: translateY(-2px);
}
  50%{
      transform: translateY(2px);
    }
}

@media (max-width: 700px) {
  .rocket-box img{
      width: 130px;
  }
  .rockett::after{
      width: 8px;
      left: 83px;
  }
  .rockett::before{
      width: 8px;
      left: 83px;
  }
}
@media (max-width: 400px) {
  .rocket-box img{
      width: 100px;
  }
  .rockett::after{
      width: 6px;
      left: 64px;
  }
  .rockett::before{
      width: 6px;
      left: 64px;
  }
  .toTop{
      right: 0;
  }
}